@import "tailwindcss";

:root {
  --background: #11071f;
  --foreground: white;
}

html {
  scroll-behavior: smooth;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-preah {
  font-family: var(--font-preahvihear), sans-serif;
}

.font-jakarta {
  font-family: var(--font-plusjakarta), sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #763cac;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.animate-link {
  position: relative;
}
.animate-link::before {
  content: "";
  position: absolute;
  bottom: -5;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #763cac;
  transition: 0.3s;
}
.animate-link:hover::before {
  width: 100%;
  left: 0;
}

.animate-image {
  animation: flashImg 2s infinite alternate;
}

@keyframes flashImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-effect {
  animation: animate-card 3s ease-in-out infinite alternate;
}

@keyframes animate-card {
  0% {
    box-shadow: 0px 0px 110px 60px #763cac99;
  }
  100% {
    box-shadow: 0px 0px 0px 0px transparent;
  }
}

.animate-skills-image {
  animation: animate-skills-image 1s ease-in-out infinite alternate;
}
@keyframes animate-skills-image {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
